@using TripPlanner.Models
@model BasicInfo

<h1 style="text-align:center;color:rebeccapurple">Details for @Model.Details.result.name</h1>
<br />
<head>
    <style>
        hr.new {
            border: 2px solid rebeccapurple;
        }
    </style>
</head>
<h5>
    Click the button to save this result to your favorites list:
    <button onclick="location.href='/Trips/AddFavorite?id=@Model.Details.result.place_id'" style="background-color:#e6a8d7;border-radius: 8px">Add to Favorites</button>
</h5>
<p>
    Address: @Model.Details.result.vicinity <br />
    Website: <a href="@Model.Details.result.website">Click here!</a>
</p>
<br />
<h3>User Rating: @Model.Details.result.rating</h3>
@if (Model.Details.result.reviews.Length > 0)
{
    foreach (var review in Model.Details.result.reviews)
    {
        <p>
            Author Name: @review.author_name<br />
            Rating: @review.rating<br />
            Review: @review.text
        </p>
        <hr class="new" />
    }
}
    @if (Model.Details.result.photos.Length > 0)
    {
        <h3>Photos</h3>

        foreach (var photo in Model.Details.result.photos)
        {
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photoreference=@photo.photo_reference&key=@Model.Details.apiKey" />
            }
        }
    
<br />
<button onclick="goBack()">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
